MANIFEST
__pycache__
build
dist
*.egg-info
*.pyc
*.pyo
*.swp
*.log
env
venv
.DS_Store
.tox
nosetests.xml
junit-report.xml
docs/_build
bench/a
bench/b
.coverage
coverage_out
.cache
.xprocess
htmlcov
.hypothesis
.idea
.workon
